 .EdicionMarcas-container {
     background: #ffffff;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     padding: 25px;
     width: 100%;
     max-width: 900px;
     margin-top: 50px;
 }

 .EdicionMarcas-heading {
     color: #4A154B;
     margin-bottom: 30px;
 }

 .form-group-EdicionMarcas {
     margin: 20px 0;
 }

 .form-control-EdicionMarcas {
     padding: 10px;
     border-radius: 5px;
     border: 2px solid #D3BCC0;
     font-size: 16px;
     margin-bottom: 15px;
 }

 .btn-EdicionMarcas {
     background: #4A154B;
     color: white;
     border: none;
     padding: 15px 20px;
     cursor: pointer;
     border-radius: 5px;
     font-size: 18px;
     display: block;
     margin: 20px auto;
     text-align: center;
     width: 200px;
 }

 .btn-EdicionMarcas:hover {
     background: #36103B;
 }

 .img-thumbnail-EdicionMarcas {
     border: 2px solid #D3BCC0;
     border-radius: 5px;
     max-width: 400px;
     max-height: 300px;
     display: block;
     margin: 20px auto;
 }