.carruselImg-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.carruselImg-heading {
    color: #4A154B;
    text-align: center;
    margin-bottom: 30px;
}

.btn-carruselImg {
    background-color: #4A154B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-carruselImg:hover {
    background-color: #36103B;
}

.carruselImg-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-body-bg {
    background-color: #f8f9fa;
}

.btn-success,
.btn-danger {
    margin: 5px;
}

.btn-success-bg {
    background-color: #28a745;
}

.btn-danger-bg {
    background-color: #dc3545;
}

@media(max-width: 767px) {
    .btn-carruselImg {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
}

@media(min-width: 660px) and (max-width: 766px) {
    .btn-carruselImg {
        width: 90%;
    }
}

@media(max-width: 400px) {
    .btn-carruselImg {
        font-size: 14px;
    }
}